.mobile-header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    text-align: center;
    padding: 10px 30px 10px 10px;
    vertical-align: middle;
}

.right-menu {
    position: relative;
    cursor: pointer;
    top: -15px;
    right: 5px;
}

.right-menu-icon {
    position: absolute;
}

.theme-mobile-container {
    position: absolute;
    top: 10px;
    left: 0;
    margin: 5px 0 5px 15px;
}