.skill-container {
    position: relative;
    margin-top: 50px;
}

.skill-search {
    border: 3px solid;
    border-radius: 30px;
    text-decoration: none;
    height: 35px;
    font-size: var(--text-md);
    font-weight: bold;
    padding-left: 15px;
    outline: none;
    width: 20vw;
    margin-top: 10px;
}

.skill-search:focus {
    border: 3px solid var(--blue);
}

.skill-chips {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
}

.skill-chip {
    cursor: pointer;
    background-color: var(--gray);
    color: var(--gray2);
    margin: 5px 15px 10px 0;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: var(--text-sm);
    font-weight: bold;
    min-width: 80px;
    text-align: center;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.skill-chip-active {
    color: var(--white);
    background-color: var(--blue);
}

.skill-chip-inactive {
    color: var(--gray2);
    background-color: var(--gray);
}

.tools-container {
    margin: 50px 0 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    font-weight: bolder;
    font-size: var(--text-sm);
    align-items: center;
    justify-items: center;
}

.tool-container {
    width: 100%;
    text-align: center;
}

.tool-image {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1000px) {
    .skill-search {
        width: 250px;
    }

    .skill-chips {
        width: 100%;
    }

    .skill-chip {
        font-size: var(--text-xs);
    }

    .tools-container {
        font-size: var(--text-xs);
        margin: 20px 0 0 0;
    }

    .skill-container h1 {
        margin-left: 5px;
    }

    .skill-search {
        margin-left: 5px;
    }

    .skill-chips {
        margin-left: 5px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .skill-chip:hover {
        color: var(--white);
        background-color: var(--blue);
        opacity: 0.5;
    }
}