.home-container {
    position: relative;
    margin-top: 80px;
    font-size: var(--txt-md);
}

.home-flex {
    display: grid;
    grid-template-columns: 160px auto;
    flex-wrap: wrap;
}

.download-btn {
	align-items: center;
    border: 2px solid var(--blue);
	display: flex;
    cursor: pointer;
    background-color: var(--blue);
    padding: 15px;
    font-size: var(--text-md);
    animation: btnRipple ease-in-out 5s infinite;
    white-space: nowrap;
}

.contact-btn {
    position: relative;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
	display: flex;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 15px;
    color: var(--gray2);
    font-size: var(--text-md);
    animation: btnUpDown ease-in-out 3s infinite;
    top: -10px;
    white-space: nowrap;
}

@keyframes btnRipple {
	0% { 
		background-color: var(--blue);
		color: var(--white);
	}
	50% {
		background-color: var(--white);
		color: var(--blue);
	}
	100% { 
		background-color: var(--blue);
		color: var(--white);
	}
}

@keyframes btnUpDown {
	0% { 
		top: -10px;
	}
    50% {
		top: 10px;
	}
	100% { 
		top: -10px;
	}
}

.home-btn-flex {
    display: flex;
    margin: 25px 0 10px 0;
    flex-wrap: wrap;
}

.home-btn-flex * {
    margin: 0 10px 0 0;
}
  

@media only screen and (max-width: 550px) {
    .home-flex {
        grid-template-columns: 1fr;
    }

    .intro-title {
        font-size: var(--text-xl);
    }

    .home-container {
        margin-top: 40px;
    }

    .home-btn-flex a {
        padding-top: 20px;
    }
}

/* For the intro title font */
.intro-title {
    display: flex;
    font-size: var(--text-xxl);
    line-height: 1.2;
    margin: 26px auto;
}

.intro-name {
    color: var(--blue);
    white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
    .download-btn:hover {
        animation: none 1s ease-in-out;
        background-color: var(--blue);
        border: 2px solid var(--blue);
        color: var(--white);
    }

    .contact-btn:hover {
        color: var(--blue);
    }
}