.home-container {
    margin-top: 50px;
    font-size: 1.2rem;
}

.home-flex {
    display: grid;
    grid-template-columns: 140px auto;
    flex-wrap: wrap;
}

.download-btn {
	align-items: center;
    border: 2px solid var(--blue);
	display: flex;
    cursor: pointer;
    background-color: var(--blue);
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    animation: btnRipple ease-in-out 5s infinite;
}

.download-btn:hover {
    animation: none 1s ease-in-out;
	background-color: var(--blue);
	border: 3px solid var(--blue);
	color: var(--white);
}

@keyframes btnRipple {
	0% { 
		background-color: var(--blue);
		color: var(--white);
	}
	50% {
		background-color: var(--white);
		color: var(--blue);
	}
	100% { 
		background-color: var(--blue);
		color: var(--white);
	}
}

.home-title-mobile {
    display: none;
    color: var(--gray);
}

.home-mt {
    margin: 25px 0 10px 0;
}

.home-title {
    font-weight: bold; 
    color: var(--gray);
}

@media only screen and (max-width: 550px) {
    .home-flex {
        grid-template-columns: 1fr;
    }

    .home-title-mobile {
        display: block;
        margin-bottom: 0;
    }

    .home-title {
        display: none;
    }

    .home-mt {
        margin: 10px 0;
    }
}