.main-container {
  transition: all 0.5s ease-in-out;
}

.right-container {
  position: fixed;
  top: 0;
  right: 0;
}

.left-container {
  position: fixed;
  top: 0;
  left: 0;
}

.center-container {
  overflow: hidden;
  min-height: 100vh;
  margin-left: 250px;
  margin-right: 150px;
}

.relative-container {
  position: relative;
  height: 100vh;
}
